.input-group
{
    padding:1% 10% 4% 10%;
    /* background-color: #eb4d21; */

    /* margin-top: 20; */
}
.search-text{
  padding: 4% 10% 0% 10%;
  text-align: center;
}
.search-text-heading
{
  font-size: 2rem;
  font-weight: bolder;
  font-family: sans-serif;
  color: black;
}
.searched-img
{
  width: 100%;
  height: 100%;
}
.img-div
{
  border-radius: 20px;
  /* border: 10px solid; */
  margin: 10px;
  padding: 4%;
}

.def
{
  padding: 15px;
  /* background-color: gray; */
  margin: 12px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #CD1818;
}

.def-example
{
  color: #F94C10;

}
.def-definition
{
  font-size: large;
}

.btn
{
  border-radius: 40px;
  background-color: #eb4d21;
  color: white;
}
.form-control
{
  border-radius: 40px;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-div
{
  padding: 2%;
  /* background-color: black; */
  background-image: linear-gradient(to left,#eb4d21, #CD1818,#c54f33,#c14d36,#F94C10,#F49D1A,#FAC213,#FEB139,#F4E185);
}
.special-heading
{
    font-size: 2.5rem;
    padding-bottom: 1%;
    /* color: ; */
}
.antonym
{
  padding: 2% 7% 2% 7%;
  /* background-color: #eb4d21; */
  background-color: #FFC436;
  flex-wrap: wrap;
  display: flex;
}

.antonym-div
{
  
  padding: 3% 7%;
  /* background-color: #eb4d21; */
  background-color: #FFC436;
}
.antonym-text
{
  text-align: center;
  color: white;
  font-size: 3rem;
  
}
.result-text
{
  color: white;
  font-size: 2.8rem;
}
.synonym-div
{
  padding: 3% 7%;
  background-color: white;
}
.synonym-text
{
  text-align: center;
  color: black;
  font-size: 3rem;

}
.synonym
{
  padding: 3% 7%;
  /* background-color: green; */
  /* overflow-x:  auto; */
  flex-wrap: wrap;
  display: flex;
  position: relative;

}
.syns
{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 8px;
  text-align: center;
  height: 2.8rem;
  /* display: inline;
   */
   color:#eb4d21 ;
   width: fit-content;
   border: 2px solid;
  border-color: red;
}

.syns-2
{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 8px;
  border: 2px solid;
  border-color: green;
  text-align: center;
  height: 2.8rem;
  /* display: inline;
   */
   width: fit-content;
   color: green;
}

footer
{
  background-color: black;
  padding: 7% 15%;
  text-align: center;
  color: white;
}
.social-icon
{
  color: white;
  margin: 20px 10px;
}

.social-icon:hover
{
  color: #FF9F29;
}